.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    padding-left: 5px;
    text-align: center;
    color: dodgerblue;
    font-size: 30px;
    text-shadow: gray 2px 2px
}