* {
    margin: 0;
    padding: 0;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    padding-left: 5px;
    text-align: center;
    color: green;
    font-size: 30px;
    text-shadow: gray 2px 2px
}

body {
    font-family: sans-serif;
    background-color: lightgrey
    /* background-image: url('./baking.png'); */
    /* background-repeat: round */
}

.divider {
    background-color: lightgreen
}

.container {
    max-width: 1500px;
    min-width: 1500px;
}
.radio {
    /* background-color: lightgreen */
}

table {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    border: 3px solid darkgreen;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 0px;
    opacity: .9
}

thead th:nth-child(1) {
    width: 100%;
}
  
thead th:nth-child(2) {
    width: 50%;
}
  
th {
    /* padding: 20px; */
    text-align: center;
    font-size: 1.3em;
    background-color: green;
}

td {
    text-align: left;
    font-size: 1 em;
    padding: 2px;
}

tr:nth-child(1) {
    background-color: white;
    color: black;
}

tr:nth-child(2) {
    background-color: purple;
    color: white;
}

tr:nth-child(3) {
    background-color: darkblue;
    color: white;
}

tr:nth-child(4) {
    background-color: dodgerblue;
    color: white;
}

tr:nth-child(5) {
    background-color: darkgreen;
    color: white;
}

tr:nth-child(6) {
    background-color: black;
    color: white
}

tr:nth-child(7) {
    background-color: lightgreen;
    color: black
}

tr:nth-child(8) {
    background-color: yellow;
    color: black
}

tr:nth-child(9) {
    background-color: orange;
    color: black
}

tr:nth-child(10) {
    background-color: darkorange;
    color: black
}

tr:nth-child(11) {
    background-color: red;
    color: white
}

tr:nth-child(12) {
    background-color: darkred;
    color: white
}

tr:nth-child(13) {
    background-color: violet;
    color: black
}

#lic-name, #biz-type, #address {
    background-color: mediumseagreen;
    color: black
}

#biz-name, #city, #lic-num  {
    background-color: seagreen;
    color: black
}




