* {
    margin: 0;
    padding: 0;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    padding-left: 5px;
    text-align: center;
    color: green;
    font-size: 30px;
    text-shadow: gray 2px 2px
}

body {
    font-family: sans-serif;
    background-color: skyblue
    /* background-image: url('./baking.png'); */
    /* background-repeat: round */
}

.divider {
    background-color: lightgreen
}

.container {
    max-width: 1600px;
    min-width: 1600px;
}
.radio {
    /* background-color: lightgreen */
}

table {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    border: 3px solid darkgreen;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 0px;
    /* opacity: .9 */
}

thead th:nth-child(1) {
    width: 100%;
}
  
thead th:nth-child(2) {
    width: 50%;
}
  
th {
    /* padding: 20px; */
    text-align: center;
    font-size: 2em;
    background-color: green;
}

td {
    text-align: left;
    font-size: 2 em;
    padding: 2px;
}

#lic-name, #biz-type, #address {
    background-color: mediumseagreen;
    color: black
}

#biz-name, #city, #lic-num  {
    background-color: seagreen;
    color: black
}


#button-all {
    background-color:white;
    color: black;
    font-size: 15px;
    border-radius: 12px;
    height:45px;
    width:150px;
    transition-duration: 0.4s;
}

#button-all:hover {background-color: gray; color: white}
#button-all:focus {border-color: red; border-width: 5px}

#button-transporters {
    background-color:purple;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    height:45px;
    width:150px;
    transition-duration: 0.4s;
}
#button-center:hover {background-color: white; color: darkblue}
#button-center:focus {border-color: red; border-width: 5px}

#button-center {
    background-color:darkblue;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    height:45px;
    width:150px;
    transition-duration: 0.4s;
}
#button-transporters:hover {background-color: white; color: purple}
#button-transporters:focus {border-color: red; border-width: 5px}

#button-cultivator {
    background-color:dodgerblue;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    height:44px;
    width:150px;
    transition-duration: 0.4s;
}
#button-cultivator:hover {background-color: white; color: dodgerblue}
#button-cultivator:focus {border-color: red; border-width: 5px}

#button-ipm {
    background-color:darkgreen;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    height:50px;
    width:150px;
    transition-duration: 0.4s;
}
#button-ipm:hover {background-color: white; color: darkgreen}
#button-ipm:focus {border-color: red; border-width: 5px}

#button-rdc {
    background-color:black;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    height:45px;
    width:150px;
    transition-duration: 0.4s;
}
#button-rdc:hover {background-color: white; color: black}
#button-rdc:focus {border-color: red; border-width: 5px}

#button-operator {
    background-color:lightgreen ;
    color: black;
    font-size: 15px;
    border-radius: 12px;
    height:45px;
    width:150px;
    transition-duration: 0.4s;
}
#button-operator:hover {background-color: black; color: lightgreen}
#button-operator:focus {border-color: red; border-width: 5px}

#button-testing {
    background-color: yellow;
    color: black;
    font-size: 15px;
    border-radius: 12px;
    height:45px;
    width:150px;
    transition-duration: 0.4s;
}
#button-testing:hover {background-color: black; color: yellow}
#button-testing:focus {border-color: red; border-width: 5px}

#button-rmpm {
    background-color:orange;
    color: black;
    font-size: 15px;
    border-radius: 12px;
    height:50px;
    width:150px;
    transition-duration: 0.4s;
}
#button-rmpm:hover {background-color: black; color: orange}
#button-rmpm:focus {border-color: red; border-width: 5px}

#button-ret-cult {
    background-color:darkorange;
    color: black;
    font-size: 15px;
    border-radius: 12px;
    height:45px;
    width:150px;
    transition-duration: 0.4s;
}
#button-ret-cult:hover {background-color: black; color: darkorange}
#button-ret-cult:focus {border-color: red; border-width: 5px}

#button-ret-test {
    background-color:red;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    height:50px;
    width:150px;
    transition-duration: 0.4s;
}
#button-ret-test:hover {background-color: white; color: red}
#button-ret-test:focus {border-color: red; border-width: 5px}

#button-ret-trans {
    background-color:darkred;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    height:45px;
    width:150px;
    transition-duration: 0.4s;
}
#button-ret-trans:hover {background-color: white; color: darkred}
#button-ret-trans:focus {border-color: red; border-width: 5px}

#button-ret-store {
    background-color:violet;
    color: black;
    font-size: 15px;
    border-radius: 12px;
    height:50px;
    width:150px;
    transition-duration: 0.4s;
}
#button-ret-store:hover {background-color: black; color: violet}
#button-ret-store:focus {border-color: red; border-width: 5px}


/* tr:nth-child(1) {
    background-color: white;
    color: black;
    font-size: 10px
}

tr:nth-child(2) {
    background-color: white;
    color: black;
    font-size: 10px
}

tr:nth-child(3) {
    background-color: darkblue;
    color: white;
}

tr:nth-child(4) {
    background-color: dodgerblue;
    color: white;
}

tr:nth-child(5) {
    background-color: darkgreen;
    color: white;
}

tr:nth-child(6) {
    background-color: black;
    color: white
}

tr:nth-child(7) {
    background-color: lightgreen;
    color: black
}

tr:nth-child(8) {
    background-color: yellow;
    color: black
}

tr:nth-child(9) {
    background-color: orange;
    color: black
}

tr:nth-child(10) {
    background-color: darkorange;
    color: black
}

tr:nth-child(11) {
    background-color: red;
    color: white
}

tr:nth-child(12) {
    background-color: darkred;
    color: white
}

tr:nth-child(13) {
    background-color: violet;
    color: black
} */





